<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/grade-list/add" class="btn btn-success" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Grade
                </a>
            <br>
            <% } %>
            <br>
    <table class="table table-bordered">
    <tr class="d-flex"> 
    <% if(typeof displayName=='string' && displayName) { %>
        <th class="text-center col-2">Course Name</th>
        <th class="text-center col-2">Due Date</th>
        <th class="text-center col-1">Grade Achieved</th>
        <th class="text-center col-2">Total Points</th>
        <th class="text-center col-3">Comment</th>
        <th class="text-center col-1"></th>
        <th class="text-center col-1"></th>
        <% } else{ %>
        <th class="text-center col-3">Course Name</th>
        <th class="text-center col-2">Due Date</th>
        <th class="text-center col-1">Grade Achieved</th>
        <th class="text-center col-2">Total Points</th>
        <th class="text-center col-4">Comment</th>
        <% } %>
    </tr>
    <!-- repeat template -->
    <% for(let count=0; count < Gradelist.length; count++) { %>
        <tr class="d-flex">
        <% if(typeof displayName=='string' && displayName) { %>
            <td class="text-center col-2"><%= Gradelist[count].course_name %></td>
            <td class="text-center col-2"><%= Gradelist[count].due_date %></td>
            <td class="text-center col-1"><%= Gradelist[count].grade_achieved %></td>
            <td class="text-center col-2"><%= Gradelist[count].total_points %></td>
            <td class="text-center col-3"><%= Gradelist[count].comment %></td>
            <td class="text-center col-1">
                <a href="/grade-list/edit/<%= Gradelist[count]._id %>"
                    class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i> Edit </a>
            </td>
            <td class="text-center col-1">
                <a href="/grade-list/delete/<%= Gradelist[count]._id %>"
                    class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete </a>
            </td>
        <% } else{ %>
            <td class="text-center col-3"><%= Gradelist[count].course_name %></td>
            <td class="text-center col-2"><%= Gradelist[count].due_date %></td>
            <td class="text-center col-1"><%= Gradelist[count].grade_achieved %></td>
            <td class="text-center col-2"><%= Gradelist[count].total_points %></td>
            <td class="text-center col-4"><%= Gradelist[count].comment %></td>
        <% } %>
        </tr>
    <% } %>
    </table>
</div>    
</div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>